.main{
  display: flex;
}
#drawing{
  background-image: url("https://pixabay.com/static/uploads/photo/2012/04/13/12/43/country-32248_960_720.png");
  height: 680px;
  width: 900px;
}
.question{
  position: relative;
  left:10px;
}

img {
  width: 50px;
  padding: 50px;
}

.circle {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background: white;
    border: 3px solid red;
    text-align: center;
    font-size: 20px;
    line-height:80px;
}
